:host {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

.mainContainer{
  display: flex;
  flex-flow: row wrap;
}

.imagesContainer{
  position: relative;
  border:1px solid #d1d1d1;
  width: 100%;
  height: 370px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.seeMoreButton{
  background-color: rgba(0,0,0,0);
  border: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  border:1px solid #d1d1d1;
}

.carouselImage{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  max-width: 100%;
}

.subMainContainer{
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;

}

.miniImagesContainer{
  width: 100%;
  height: 80px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 0;
  width: 90px;
  cursor: pointer;
  text-align: center;
  border:1px solid #d1d1d1;
}

.miniImagesContainerSelected{
  border:1px solid black;
}

.miniImage{
  max-height: 100%;
  

}


